li.product-item {
    background-color: hwb(0 91% 9%);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
        color: #333;
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }

    p {
        margin: 0.5rem 0;
        color: #555;
    }

    button {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #ff4d4f;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            background-color: hsl(1, 98%, 76%);
        }
    }
}
